[*.cs]

# CS0436: Type conflicts with imported type
dotnet_diagnostic.CS0436.severity = warning

# RCS1163: Unused parameter.
dotnet_diagnostic.RCS1163.severity = none

# RCS1175: Unused this parameter.
dotnet_diagnostic.RCS1175.severity = none

# IDE0060: Remove unused parameter
dotnet_code_quality_unused_parameters = all:none

# RCS1001: Add braces (when expression spans over multiple lines).
dotnet_diagnostic.RCS1001.severity = none

# RCS1003: Add braces to if-else (when expression spans over multiple lines).
dotnet_diagnostic.RCS1003.severity = none

# RCS1018: Add accessibility modifiers.
dotnet_diagnostic.RCS1018.severity = none
