*.suo
*.csproj.user
*.pidb
*.userprefs
*.nupkg

artifacts/
packages/
Bundles/package/
Bundles/nuget.exe
wrap/TerrariaServer/TerrariaServer.exe
wrap/TerrariaServer/ReLogic.dll
wrap/TerrariaServer/ReLogic.Native.dll
wrap/Terraria/Terraria.exe

.DS_Store
.vs
.vscode
.idea
.idea.OTAPI

bin/
obj/

OTAPI.dll
OTAPI.pdb
OTAPI.xml
TerrariaServer.dll

*.lock.json
OTAPI.Core.Tests/lib/net451/OTAPI.Sockets.dll
