*.suo
*.csproj.user
*.pidb
*.userprefs
*.nupkg
*.shim

artifacts/
packages/
Bundles/package/
Bundles/nuget.exe
wrap/TerrariaServer/TerrariaServer.exe
wrap/TerrariaServer/ReLogic.dll
wrap/TerrariaServer/ReLogic.Native.dll
wrap/TerrariaServer/Newtonsoft.Json.dll
wrap/TerrariaServer/Steamworks.NET.dll
wrap/TerrariaServer/Ionic.Zip.CF.dll
wrap/Terraria/Terraria.exe
wrap/TerrariaServer/CsvHelper.dll

.DS_Store
.vs
.vscode
.idea
.idea.OTAPI

bin/
obj/

OTAPI.dll
OTAPI.pdb
OTAPI.xml
TerrariaServer.dll
Ionic.Zip.CF.dll
Steamworks.NET.dll

*.lock.json
OTAPI.Core.Tests/lib/net451/OTAPI.Sockets.dll
/OTAPI.Server.sln.DotSettings.user
